
ul,li{
list-style-type: none;
text-align: center;
padding: 10px;
font-weight: bold;
}
.flex-container {
    display: -webkit-flex;
    display: flex;
	flex-direction: column;	
    -webkit-flex-flow: row wrap;
    
    text-align: center;
	font-family: 'Abel', sans-serif;
}

.flex-container > * {
    
    -webkit-flex: 1 100%;
    flex: 1 100%;
	text-align: center;
}

.article {
    text-align: center;
}

header {
	display: flex;
	flex-direction: row;
	justify-content:center;
	background: black;
	color:white;
	}
.photo{
	overflow:hidden;
	border-radius:50%;
	width :150px;
	height: 150px;
	
}
.photo img{
    width:100%;
    height:auto;
	margin-top:-25px;
}
#name {
	display: flex;
	flex-direction: column;
	justify-content:center;
}
#pagelabel{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Abel', sans-serif;
	overflow: hidden;
	background:#eee;
	text-decoration: none;
	
}

#pagelabel a{
	display: flex;
	text-align: center;
	padding:20px;
	font-family: 'Abel', sans-serif;
	overflow: hidden;
	background:#eee;
	text-decoration: none;
	color: #00000;
	border: none;
}

#side
{
	display:flex;
	flex-direction: column;	
	
	top: 0;
	left:-360px;
	width:360px;	
	position:fixed;
	z-index:9999;
}

#sideContent{
	font-family: '微軟正黑體', sans-serif;
	font-size: 18px;
	background:gray;
	text-align:center;
	padding-top:20px;
}




@media all and (min-width: 750px) {
    .nav {text-align:center;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
   
}